@page
@model UserStories.Pages.UserStoryDetailModel
@{
}
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><small class="text-muted">(@Model.UserStory.Id)</small>@Model.UserStory.Title</h5>
                <a type="button" class="close" asp-page="UserStories">&times;</a>
            </div>
            <div class="modal-body">
                <p><b>Description:</b> @Model.UserStory.Description</p>
                <p><b>Business value:</b> @Model.UserStory.BusinessValue</p>
                <p><b>Creation date:</b> @Model.UserStory.CreationDate</p>
                <p><b>Priority:</b> @Model.UserStory.Priority</p>
                <p><b>Story points:</b> @Model.UserStory.StoryPoints</p>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-danger" asp-page="UserStories">Close</a>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
<script>
    $(document).ready(function () {
        $("#myModal").modal({ backdrop: "static" });
        $("#myModal").modal('show');
    });
</script>
}